<div>
	<h3>Create Team</h3>
	<form ng-submit = 'createTeam()'>
		<div class = 'form-group'>
			<input type = 'text' class = 'form-control' placeholder="Enter Team Name" ng-model = 'name'>
		</div>
		<div class = 'form-group'>
			<select class = 'form-control' ng-model = 'tournament'>
				<option value = ''>Select Tournament ...</option>
				<option ng-repeat = 'tournament in tournaments' value = "{{tournament._id}}" class = 'games'>{{ tournament.name }}</option>
			</select>
		</div>
		<span class = 'text-info'>{{ createTeamMsg }}</span>
		<div class = 'form-group'>
			<button class = 'btn btn-primary pull-right'>CREATE TEAM</button>
		</div>
	</form>
</div>