<div class = 'row' style = 'top:0px;'>
  <div class = 'col-md-2'></div>
  <div class = 'col-md-8'>
	<h3 class = 'text-info'>Select Players</h3>
	<form>
    <div ng-repeat = 'n in numberArray' class = 'form-group'>
      <label style = 'font-weight:900;'>Player {{n+1}} Name:</label>
      <input type = 'text' class = 'form-control' ng-model = "name[$index]"/>
    </div>
    <div class = 'form-group pull-right'>
      <button class = 'btn btn-danger' ng-click = 'selectPlayers()'>Register Players</button>
    </div> 
  </form>
  </div>
  <div class = 'col-md-2'></div>
</div>