<div>
	<h3>Register Participant</h3>	
	<form name='registerForm' ng-submit='register()'>
			<div class='form-group'>
				<input type='text' class='form-control' ng-model='name' placeholder='Enter Your Name'>
			</div>
			<div class='form-group'>
				<input type='text' class='form-control' ng-model='phone' placeholder='Enter your phone'>
			</div>
			<div class='form-group'>
				<input type='text' class='form-control' ng-model='email' placeholder='Enter your email'>
			</div>
			<div class='form-group'>
				<label for="gender">Select Gender</label>
				<select class='form-control' id='gender' ng-model='genderSelect'>
					<option value='M'>Male</option>
					<option value='F'>Female</option>
				</select>
			</div>
			<div class = 'form-group'>
				<select class = 'form-control' ng-model = 'tournament'>
					<option value = ''>Select Tournament...</option>
					<option ng-repeat = 'tournament in tournaments' value = "{{tournament._id}}" class = 'games'>{{ tournament.name }}</option>
				</select>
			</div>
			<span class = 'text-info'>{{ registerMsg }}</span>
			<div class='form-group'>
				<input type='submit' value='REGISTER' class='btn btn-info'> 
			</div>
	</form>
</div>